.profile {
    background-color: #ccc;
    width:200px;
    font-size: 0.78em;
}

.profile-entry {
    display: flex;
    padding: 10px;
}

.profile-entry-left {
    font-weight: bold;
}

.profile-entry-right {
    flex: 1;
    text-align: right;
}

.profile-pic {
    width: 100%;
}

.player-name {
    font-size: 25px;
    font-weight: bold;
    padding: 10px;
}

.team-logo {
    width: 50%;
}




